<a href="https://colab.research.google.com/github/matthewpecsok/bootcamp/blob/main/bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Syntax and Variables

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
"Hello World!"

'Hello World!'

Errors!

It's the best place to start. Because you'll create lots of them.

The first type of error we'll cover is syntax error. Get used to it. Incorrect code will often generate syntax errors.

In [ ]:
1 = 2

SyntaxError: ignored

In [ ]:
"Hello World

SyntaxError: ignored

## literals

string literals

a string can contain, letters, numbers special characters etc.

In [ ]:
"hello world!"

'hello world!'

In [ ]:
print("hello world!")

hello world!

In [ ]:
print("hello "+ "world!")

hello world!

you try

In [ ]:
# create a string literal and display it

numeric literals

In [ ]:
4

4

you try

In [ ]:
# create a numeric literal and display it

9

addition with literals

In [ ]:
1+6

13

you try

In [ ]:
# addition with two numeric literals

you try

In [ ]:
# multiply two numeric literals

literals are more useful when their values are assigned to a variable.

## comments

In [ ]:
2 + 4 # this is a comment. it's not code

6

## variables

we use the = assignment operator to assign the literal value to a variable

other operators are + / - *

### string

https://www.w3schools.com/python/python_strings.asp

Are objects. More later.

In [ ]:
my_name = "Matt"

my_name

'Matt'

In [ ]:
type(my_name)

str

In [ ]:
# create a string variable and display it

'Jill'

we use the type function and pass in my_name. the return value tells us what type of variable my_name is. given that we assigned a string literal to it, it should be no surprise that it is a string type (str).

In [ ]:
first_name = "Matthew"

#### len

Find the length of the string

In [ ]:
len(first_name)

7

#### slice

get the first 4 elements. strings are arrays so array slicing syntax works.

In [ ]:
first_name[0:4]

NameError: ignored

In [ ]:
first_name[4:]

'hew'

you try!

In [ ]:
# get the first 3 characters of your name

In [ ]:
# get the 3rd to the last character of your name

#### combining numbers and strings

f string syntax and variables within strings.

In [ ]:
month = "August"
day = 15

f'today is {month} {day}th'

'today is August 15th'

You try

print the following text. "My first name is Matthew and my last name is Pecsok" where your first and last name are variables instead of hardcoded string literals.

In [ ]:
# your_first_name =
# your_last_name =

f'My first name is  and my last name is '

'My first name is  and my last name is '

#### substring check

does the string contain a substring.

In [ ]:
"Matt" in first_name

True

In [ ]:
# you try. check if Cat is in Catherine

False

### int

In [ ]:
my_number = 42

my_number

42

In [ ]:
type(my_number)

int

again we assigned an integer to the variable so the type of that variable is integer (int)

you try

In [ ]:
# create an int variable and display it

### float

floating points allow for quick computation, but for financial transactions in which exact precision is required may not be appropriate.

In [ ]:
my_float = 42.5

type(my_float)

float

In [ ]:
42.5/1.39

30.575539568345327

create your own float variable

In [ ]:
 # create a float

### Boolean

Boolean variables are either True or False. That may not sound very exciting, but True/False is a critical component in coding.

In [ ]:
my_bool = True

type(my_bool)

bool

often boolean variables are created with Conditions. we can create a condition by doing a test

### operators

== is the equality operator.

In [ ]:
4 == 2 # equality operator

False

In [ ]:
4 != 2 # inequality operator

True

In [ ]:
5 < 3 # less than operator

False

In [ ]:
five_lt_three = 5 < 3

five_lt_three

False

You try create a new variable that has a boolean value based on two numbers.

In [ ]:
# you put code here

strings can also be tested for equality

In [ ]:
"matt" == "MATT"

False

In [ ]:
lc_name = "matt"
uc_name = "MATT"

lc_name == uc_name

False

In [ ]:
lc_name.upper() == uc_name

True

In [ ]:
lc_name.title()

'Matt'

In [ ]:
name_one = "Catherine"
name_two = "CATHERINE"

# you try, get a true value when testing for equality of the two strings above

Booleans also have an integer equivalent.

*   False = 0
*   True = 1

effectively 0 + 0 + 1

In [ ]:
False+False+True

1

In [ ]:
"""


"""

# Project

Use variables to output the following text in f-strings. Anything in bold is a variable, anything else is just text.

"It is **write code here** that 1 is equal to 1, and it is **write code here** that 16/4 = 3. That being said, it is **write code here** that my name contains the character 'c'. In addition, when I divide 42/1.5 the result is of type **your code here**"

In [ ]:
# create some variables

f"It is **write code here** that 1 is equal to 1, and it is **write code here** that 16/4 = 3. That being said, it is **write code here** that my name contains the character 'c'. In addition, when I divide 42/1.5 the result is of type **your code here**"

"It is **write code here** that 1 is equal to 1, and it is **write code here** that 16/4 = 3. That being said, it is **write code here** that my name contains the character 'c'. In addition, when I divide 42/1.5 the result is of type **your code here**"

This is useful when we want to count the number of true instances. We simply sum them up. The total is the number of true instances.

In [ ]:
# create 4 boolean variables that when added give you the numeric result of 3

## casting

what if we have a string and we want to convert it to a number? or vice versa. we can use casting to convert between types

In [ ]:
my_string = "42"

print(type(my_string))

my_string = int(my_string)

print(type(my_string))

my_string

<class 'str'>
<class 'int'>

42

In [ ]:
my_float = 1.234

print(type(my_float))

my_float = int(my_float)

print(type(my_float))

my_float

<class 'float'>
<class 'int'>

1

## precedence

python follows common mathematics conventions

PEMDAS

* Parentheses
* Exponents (Powers and Roots)
* Multiplication and Division (from left to right)
* Addition and Subtraction (from left to right)

if we simply evaluated from left to right we might get the 2+3 = 5 and then 5 * 4 = 20. This is not how we would expect evaluation to work in math terms.

In [ ]:
2 + 3 * 4

14

In [ ]:
(2 + 3) * 4

20

you try

subtract and divide numbers, then use parenthesis to change the order of operations

In [ ]:
# you try here

In [ ]:
# and here

# Conditions

we can combine operators with conditions to create logical sequences in code

if statements evaluate to true or false (boolean). If true, else false.

two spaces before the code within the if else

### if/else statements

In [ ]:
if (True):
  print("It's true")

It's true

In [ ]:
if (4 < 2):
  print("True:","4 is less than 2")
else:
  print("False:","4 is greater than or equal to 2")

False: 4 is greater than or equal to 2

In [ ]:
my_name

'Matt'

In [ ]:
if ("a" in my_name):
  print("True:","'a' is in my_name")
else:
  print("False:","'a' is not in my_name")

True: 'a' is in my_name

you try

In [ ]:
# create an if/else statement that evaluates to either true or false and shows some result.

In [ ]:
(5>4) and (4<3)

False

In [ ]:
if (5>4) and (4<3):
  print("True:","5 is greater than 4 and 4 is less than 3")
else:
  print("False:","5 is not greater than 4 or 4 is not less than 3")

False: 5 is not greater than 4 or 4 is not less than 3

In [ ]:
(5>4) or (4<3)

True

In [ ]:
if (5>4) or (4<3):
  print("True:","5 is greater than 4 or 4 is less than 3")
else:
  print("False:","5 is neither greater than 4 nor 4 is less than 3")

True: 5 is greater than 4 or 4 is less than 3

In [ ]:
# You try. Is either of the folliwing true 40 > 20 or 20 > 10?

# Data Structures

## lists

Suppose we have a list of numbers

5,3,9,10

In [ ]:
my_numbers = [10,5,3,9]

my_numbers

[10, 5, 3, 9]

### type

In [ ]:
type(my_numbers)

list

### length

In [ ]:
len(my_numbers)

4

### sum

In [ ]:
sum(my_numbers)

27

lists are ordered, changeable, allows duplicates

### append

append() is a method for lists.

methods are functions that operate in the context of the object they are tied to.

append takes an argument of the thing we want to append to the list.

In [ ]:
my_numbers.append(50)
my_numbers

[10, 5, 3, 9, 50]

first element

In [ ]:
my_numbers[0]

10

last element

In [ ]:
my_numbers[-1]

50

what other methods are available for lists?

one option is to read up on documentation available on the internet such as:

https://www.w3schools.com/python/python_ref_list.asp

or, one co

In [ ]:
dir(my_numbers)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### help

In [ ]:
help(my_numbers.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
help(my_numbers.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

### sort

In [ ]:
my_numbers.sort()
my_numbers

[3, 5, 9, 10, 50]

### reverse

In [ ]:
my_numbers.reverse()
my_numbers

[50, 10, 9, 5, 3]

### sum

In [ ]:
sum(my_numbers)

77

### index

In [ ]:
my_numbers.index(10)

1

now you try

In [ ]:
# create a list of numbers

In [ ]:
# append a value to the list

In [ ]:
# sort the list

In [ ]:
# reverse the list

In [ ]:
# sum the list

In [ ]:
# get the index for a given element

### combining lists

In [ ]:
list_one = [1,2,3,4,5]
list_two = [6,7,8,9,10]

new_list = list_one + list_two

new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# create two lists and join them

### copy lists

notice how in the following example after copying the list and updatating the copy, the original list is updated also.

This is a concept in programming known as a reference to an object. The new list is new in name only. the actual values are shared between lists.

In [ ]:
names_list = ['Selena','Jose','John','Hannah']

new_names_list = names_list # shallow copy

new_names_list[0] = 'Matt'

print(names_list)
print(new_names_list)

['Matt', 'Jose', 'John', 'Hannah']
['Matt', 'Jose', 'John', 'Hannah']

In [ ]:
import copy

names_list = ['Selena','Jose','John','Hannah']

new_names_list = copy.deepcopy(names_list) # deep copy

new_names_list[0] = 'Matt'

print(names_list)
print(new_names_list)

['Selena', 'Jose', 'John', 'Hannah']
['Matt', 'Jose', 'John', 'Hannah']

In [ ]:
# you try, access the second element in new names list

### pop

remove an element from the list.

In [ ]:
new_names_list[3]

'Hannah'

In [ ]:
new_names_list.pop(3)
new_names_list

['Matt', 'Jose', 'John']

In [ ]:
# you try. pop an element from the list.

## slicing

and dicing!

In [ ]:
original_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Extract elements from index 2 to 5 (exclusive)

In [ ]:
original_list[2:5]

[2, 3, 4]

First element to last (excludes index 0)

In [ ]:
original_list[1:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

every 3 elements

In [ ]:
original_list[::3]

[0, 3, 6, 9]

reverse the list

In [ ]:
original_list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

you try

In [ ]:
# ["a","b","c"] # reverse this list

## loops

loops are an extremely powerful technique in programming. write code once, have it execute and abritrary number of times

for loops use the same syntax of indentation to define code within the block.

In [ ]:
for i in range(10):
    print(i)

print('the end')

0
1
2
3
4
5
6
7
8
9
the end

In [ ]:
for i in range(10):
    print(f"the result is {i + 99}")

the result is 99
the result is 100
the result is 101
the result is 102
the result is 103
the result is 104
the result is 105
the result is 106
the result is 107
the result is 108

you try

write code to print the following from a list.

hello Selena!

hello Jose!

hello John!

hello Hannah!

In [ ]:
#for name in names_list:

hello Selena!
hello Jose!
hello John!
hello Hannah!

## Dictionaries

Can store more complex data than int or string.

Stores data as key value pairs.

For example first_name is a key and the value is John

In [ ]:
student = {
    "first_name": "John",
    "last_name": "Doe",
    "age": 18,
    "grade": 12,
    "courses": ["Math", "Science", "History"],
    "gpa": 3.8
}

print(type(student['first_name']))
print(type(student['last_name']))
print(type(student['age']))
print(type(student['grade']))
print(type(student['courses']))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'list'>

### print values

In [ ]:
print("Student's First Name:", student["first_name"])
print("Student's Age:", student["age"])
print("Courses:", student["courses"])

Student's First Name: John
Student's Age: 18
Courses: ['Math', 'Science', 'History']

### access keys

In [ ]:
student.update({"title": 41})
student

NameError: ignored

In [ ]:
student.keys()

dict_keys(['first_name', 'last_name', 'age', 'grade', 'courses', 'gpa'])

In [ ]:
student.values()

dict_values(['John', 'Doe', 25, 12, [{'course_name': 'Math', 'instructor': 'Mr. Smith', 'schedule': 'Monday and Wednesday, 10:00 AM - 11:30 AM', 'students_enrolled': 25}, {'course_name': 'Science', 'instructor': 'Ms. Johnson', 'schedule': 'Tuesday and Thursday, 2:00 PM - 3:30 PM', 'students_enrolled': 20}, {'course_name': 'History', 'instructor': 'Dr. Williams', 'schedule': 'Friday, 9:00 AM - 10:30 AM', 'students_enrolled': 30}], 3.8])

In [ ]:
student.items()

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('grade', 12), ('courses', [{'course_name': 'Math', 'instructor': 'Mr. Smith', 'schedule': 'Monday and Wednesday, 10:00 AM - 11:30 AM', 'students_enrolled': 25}, {'course_name': 'Science', 'instructor': 'Ms. Johnson', 'schedule': 'Tuesday and Thursday, 2:00 PM - 3:30 PM', 'students_enrolled': 20}, {'course_name': 'History', 'instructor': 'Dr. Williams', 'schedule': 'Friday, 9:00 AM - 10:30 AM', 'students_enrolled': 30}]), ('gpa', 3.8)])

In [ ]:
for key in student:
    print(key)

first_name
last_name
age
grade
courses
gpa

### update dictionary values

In [ ]:
student['age'] = 25
student

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'grade': 12,
 'courses': ['Math', 'Science', 'History'],
 'gpa': 3.8}

In [ ]:
student['courses'][2] = 'English'
student

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'grade': 12,
 'courses': ['Math', 'Science', 'English'],
 'gpa': 3.8}

### nested dictionaries

In [ ]:
student['courses'] = [

{
    "course_name": "Math",
    "instructor": "Mr. Smith",
    "schedule": "Monday and Wednesday, 10:00 AM - 11:30 AM",
    "students_enrolled": 25
},

 {
    "course_name": "Science",
    "instructor": "Ms. Johnson",
    "schedule": "Tuesday and Thursday, 2:00 PM - 3:30 PM",
    "students_enrolled": 20
},
{
    "course_name": "History",
    "instructor": "Dr. Williams",
    "schedule": "Friday, 9:00 AM - 10:30 AM",
    "students_enrolled": 30
}]

student

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'grade': 12,
 'courses': [{'course_name': 'Math',
   'instructor': 'Mr. Smith',
   'schedule': 'Monday and Wednesday, 10:00 AM - 11:30 AM',
   'students_enrolled': 25},
  {'course_name': 'Science',
   'instructor': 'Ms. Johnson',
   'schedule': 'Tuesday and Thursday, 2:00 PM - 3:30 PM',
   'students_enrolled': 20},
  {'course_name': 'History',
   'instructor': 'Dr. Williams',
   'schedule': 'Friday, 9:00 AM - 10:30 AM',
   'students_enrolled': 30}],
 'gpa': 3.8}

You try

create a simple dictionary for a car

keys are make,model,year,color

In [ ]:
# car dictionary

In [ ]:
# print the model of the car

In [ ]:
# update the year of the car

# Expressions

In programming, an expression is a combination of values, variables, operators, and function calls that can be evaluated to produce a result. Expressions are fundamental building blocks used to perform calculations, manipulate data, and make decisions within a program. They can represent a wide range of operations, from simple arithmetic calculations to complex logical evaluations.

# Functions

when you need to execute the same line or lines of code multiple times you may consider using a function. a function allows you to store code in a name, and then call it many times.

see the example below

In [ ]:
def simple_function():
  print('hi')

simple_function()
simple_function()

hi
hi

In [ ]:
# you try, create a new function, have it print hello world!

but what if we want the function to be more dynamic?

introducing function parameters

In [ ]:
def add_two_numbers(num1, num2):
  print(num1 + num2)

add_two_numbers(1, 2)
add_two_numbers(10, 5)

3
15

you try create a new function

it takes a first_name and last_name as parameters and prints your name if you pass in your first and last name.

In [ ]:
# your function here

argument defaults

In [ ]:
def add_two_numbers(num1=6, num2=5):
  print(num1 + num2)

add_two_numbers()

add_two_numbers(num2=80)

11
86

passing arguments by position vs name/keyword

In [ ]:
def subtract_two_numbers(num1=6, num2=5):
  print(num1 - num2)

subtract_two_numbers()

subtract_two_numbers(10,3) # 10 - 3 = 7

subtract_two_numbers(num2 = 3,num1 = 10) # again 10 - 3 = 7

1
7
7

In [ ]:
# you do. call your name printing function again, change the order of the keywords

In [ ]:
def say_hello(first_name):
  return f"hello {first_name}"

print(say_hello("Lisa"))
print(say_hello("Jose"))

hello Lisa
hello Jose

In [ ]:
for name in names_list:
  print(say_hello(name))

hello Selena
hello Jose
hello John
hello Hannah

function with if statement in it.

In [ ]:
def first_is_greater(number1, number2):
  if number1 > number2:
    return True
  else:
    return False

result = first_is_greater(10, 5)
print(result)

result = first_is_greater(2, 50)
print(result)

True
False

you try

* create a function that takes a name. if the name is equal to "Jose" print("It's Jose") else print(It's NOT Jose")

* recall the equality operator is ==

* run the code twice, once with the name Jose and once with another name.

In [ ]:
# your code here

### list comprehension

In [ ]:
hello_list = [say_hello(name) for name in names_list]
hello_list

['hello Selena', 'hello Jose', 'hello John', 'hello Hannah']

zip

take two iterables like lists and combine them element-wise into tuples.

In [ ]:
fruits = ['apples','bananas','oranges']
fruit_quantities = [40,100,200]

visualize what zip is doing

In [ ]:
list(zip(fruits, fruit_quantities))

[('apples', 40), ('bananas', 100), ('oranges', 200)]

In [ ]:
for fruit, fruit_quantity in zip(fruits, fruit_quantities):
    print(f"We have {fruit_quantity} {fruit}")

We have 40 apples
We have 100 bananas
We have 200 oranges

# Objects

A brief intro to Object Oriented Programming

In [ ]:
class Car:
    def __init__(self, make, model):
        self.make = make
        self.model = model

    def horn(self):
        return f"beep beep"

    def display_info(self):
        return f"Make: {self.make}, Model: {self.model}"

car = Car("Toyota","Rav4")

car.display_info()

'Make: Toyota, Model: Rav4'

you try

create a new instance of a car. give the car a make and model.

In [ ]:
# new car instance

Next add a year property, create a new instance with make,model, year

## Inheritance and Polymorphism

In [ ]:
class Vehicle():
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display_info(self):
        return f"Brand: {self.brand}, Model: {self.model}"


class Car(Vehicle):
    def __init__(self, brand, model, num_doors):
        super().__init__(brand, model)
        self.num_doors = num_doors

    def display_info(self):
        vehicle_info = super().display_info()
        return f"{vehicle_info}, Type: Car, Number of Doors: {self.num_doors}"


class Motorcycle(Vehicle):
    def __init__(self, brand, model, num_wheels):
        super().__init__(brand, model)
        self.num_wheels = num_wheels

    def display_info(self):
        vehicle_info = super().display_info()
        return f"{vehicle_info}, Type: Motorcycle, Number of Wheels: {self.num_wheels}"


class Plane(Vehicle):
    def __init__(self, brand, model, wingspan):
        super().__init__(brand, model)
        self.wingspan = wingspan

    def display_info(self):
        vehicle_info = super().display_info()
        return f"{vehicle_info}, Type: Plane, Wingspan: {self.wingspan}"


# Creating instances of the subclasses
car = Car("Toyota", "Camry", 4)
motorcycle = Motorcycle("Harley-Davidson", "Street 750", 2)
plane = Plane("Boeing", "747", "68.4 meters")

# Displaying information about the vehicles
print(car.display_info())
print(motorcycle.display_info())
print(plane.display_info())

Brand: Toyota, Model: Camry, Type: Car, Number of Doors: 4
Brand: Harley-Davidson, Model: Street 750, Type: Motorcycle, Number of Wheels: 2
Brand: Boeing, Model: 747, Type: Plane, Wingspan: 68.4 meters

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[1::2]

[2, 4, 6, 8, 10]

# Lambda function

In [ ]:
names = ["John","Jose","Louise"]
names_three_chars = list(map(lambda name: name[0:2], names))
print(names_three_chars)

['Jo', 'Jo', 'Lo']

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig"]
first_three_chars = list(map(lambda word: word[:3], words))
print(first_three_chars)

['app', 'ban', 'che', 'dat', 'fig']

Convert Fahrenheit to Celsius:

In [ ]:
fahrenheit_temps = [32, 68, 86, 104]
celsius_temps = list(map(lambda f: (f - 32) * 5/9, fahrenheit_temps))
print(celsius_temps)  # Output: [0.0, 20.0, 30.0, 40.0]

[0.0, 20.0, 30.0, 40.0]

# Libraries

Libraries allow us to extend Python functionality to accomplish specific tasks. Some libraries are huge and cover many areas others are small and quite specific.

Suppose we want to round a float down to an int

In [ ]:
import math

In [ ]:
math.floor(3.2)

3